.container {
  padding: 2rem 3rem 1rem 3rem;
  max-width: 90rem;
  margin: 0 auto;
  justify-content: center;
}

.notfound {
  margin-top: 20rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

.notfound h2 {
  font-size: 2rem;
  line-height: 3rem;
}

.notfound-404 h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 12rem;
  line-height: 12rem;
  font-weight: 700;
  color: #262626;
  text-transform: uppercase;
}

.btn {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 3rem;
}
