.container {
  min-width: 25rem;
  margin: 0 auto;
}

.formItem {
  margin-bottom: 1rem;
}

.formItem mat-form-field {
  width: 100%;
}

.form {
  text-align: center;
}

.form mat-dialog-actions {
  justify-content: center;
}
