.container {
  padding: 2rem 3rem 1rem 3rem;
  max-width: 90rem;
  margin: 0 auto;
  justify-content: center;
}

.demo-button-container button {
  margin-bottom: 1rem;
}

.mat-elevation-z8 {
  margin: auto;
  width: 100%;
  padding: 0 3rem;
}

.fields tr {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.search {
  display: block;
  margin: auto;
  width: 70%;
  text-align: center;
}

.title {
  margin: 1.5rem 0;
}

.mat-elevation-z8 td,
.mat-elevation-z8 th {
  text-align: center;
}


.btn {
  margin: 0.5rem;
}

.fields {
  width: 100%;
}

.valid_score {
  margin: 1rem 0;
}

.background__valid {
  background-color: rgba(114, 230, 139, 0.5);
}

@media (max-width: 768px) {
  .btn {
    width: 2rem;
    height: 2rem;
  }

  .icon {
    font-size: 1.4rem;
    margin-top: -0.5rem;
  }
}
